@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';

.footer {
    @include sectionWrapper;
    height: 30vh;
    background-color: $secondary-color;
}

.name {
    border-right: 2px solid $primary-color;
    grid-row: 1/ span 28;
    grid-column: 1/ span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 1.8em;
    font-weight: bolder;
}

.name p {
    color: gray;
    font-family: $primary-font;
    font-size: 1em;
    font-weight: 100;
}

.midsec {
    border-right: 2px solid white;
    grid-column: 4 /span 6;
    grid-row: 1/ span 28;
    display: flex;
    justify-content:space-around;

}

.midsec h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 60px 0px 0px 0px;
}
.midsec .policy {
    @include midsecpara;
}
.midsec .info {
    @include midsecpara;
}
.midsec .home {
    @include midsecpara;
}
.address {
    border-right: 2px solid white;
    grid-column: 10/ span 13;
    grid-row: 1/ span 28;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 0px 0px 0px 140px;
}
.address h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 30px 0px 0px 0px;
}
.address p {
    @include midsecpara;
}
