@import "@/styles/abstract/mixin";
@import "@/styles/abstract/variable";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

.about {
  @include section;
  justify-items: center;
  column-gap: 1em;
}

.sectionWrapper {
  @include sectionWrapper;
  column-gap: 1em;
  // background: url(./bg-about.jpeg), lightgray 50% / cover no-repeat;
}


.heading {

  font-family: $primary-font;
  font-size: 3em;
  font-weight: 900;
  margin: 20px;
  margin-left: 85px;
  grid-column: 4/ span 9;
  grid-row: 7 / span 20;
  color: $secondary-color;
}

.content {
  grid-column: 4/ span 15;
  grid-row: 20 / span 14;
  color: $secondary-color;
  font-family: $primary-font;
  margin-left: 100px;
  margin-right: 100px;
}

.card1 {
  background: url(./sukant-sharma-kW7tfuBQ3TA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  grid-row: 34/ span 25;
  grid-column: 3/ span 4;
  cursor: pointer;
  @include sectionWrapper;
  transition: all ease-in-out 0.5s;
}

.card2 {
  background: url(./sukant-sharma-kW7tfuBQ3TA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  grid-row: 34/ span 52;
  grid-column: 7/ span 2;
  cursor: pointer;
  @include sectionWrapper;
  transition: all ease-in-out 0.5s;
}

.card3 {
  background: url(./sukant-sharma-kW7tfuBQ3TA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  grid-row: 61/ span 25;
  grid-column: 3/ span 2;
  cursor: pointer;
  @include sectionWrapper;
  transition: all ease-in-out 0.5s;
}

.card4 {
  background: url(./sukant-sharma-kW7tfuBQ3TA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  grid-row: 61/ span 25;
  grid-column: 5/ span 2;
  cursor: pointer;
  @include sectionWrapper;
  transition: all ease-in-out 0.5s;
}

.card5 {
  background: url(./sukant-sharma-kW7tfuBQ3TA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  grid-row: 61/ span 25;
  grid-column: 9/ span 2;
  cursor: pointer;
  @include sectionWrapper;
  transition: all ease-in-out 0.5s;
}

.card6 {
  background: url(./sukant-sharma-kW7tfuBQ3TA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  grid-row: 34/ span 25;
  grid-column: 9/ span 2;
  cursor: pointer;
  @include sectionWrapper;
  transition: all ease-in-out 0.5s;
}

.abouttext1 {
  font-family: $primary-font;
  font-weight: lighter;
  color: $primary-color;
  grid-column: 2;
  grid-row: 18;
}

.aboutpara1 {
  font-family: $primary-font;
  font-size: 0.7em;
  font-weight: lighter;
  color: $primary-color;
  grid-column: 2/ span 9;
  grid-row: 22;
}

.abouttext2 {
  font-family: $primary-font;
  font-weight: lighter;
  color: $primary-color;
  grid-column: 2;
  grid-row: 45;
}

.aboutpara2 {
  font-family: $primary-font;
  font-size: 0.7em;
  font-weight: lighter;
  color: $primary-color;
  grid-column: 2/ span 9;
  grid-row: 49;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
  border-radius: 0px;
  transition: all ease-in-out 0.5s;
}