@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';

.dashboard {
    @include sectionWrapper;
    height: 100vh;
}

.title {
    grid-row: 8/ span 3;
    grid-column: 2/ span 2;
    color: $secondary-color;
    font-family: $primary-font;
    font-size: 3em;
    font-weight: lighter;
}

.title2 {
    grid-row: 8/ span 3;
    grid-column: 10/ span 2;
    color: $secondary-color;
    font-family: $primary-font;
    font-size: 3em;
    font-weight: lighter;
}

.where {
    border: 2px solid $secondary-color;
    box-shadow: 2px 2px 4px 0px lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    grid-row: 21/ span 5;
    grid-column: 2/ span 2;
    font-family: $primary-font;
    font-weight: lighter;
}

.where input {
    border: 2px solid white;
    width: 70px;
    height: 15px;
    text-align: center;
    color: grey;
}

.icon1 {
    color: transparent;
    background: url(./maps-and-flags.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.date {
    border: 2px solid $secondary-color;
    box-shadow: 2px 2px 4px 0px lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 21/ span 5;
    grid-column: 4/ span 2;
    margin-left: 20px;
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 0.9em;
}

.date input {
    border: 2px solid white;
    width: 70px;
    height: 15px;
    text-align: center;
    color: grey;
}

.icon3 {
    color: transparent;
    background: url(./calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ppl {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 21/ span 5;
    grid-column: 6/ span 2;
    margin-left: 20px;
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 0.9em;
}

.ppl input {
    border: 2px solid white;
    width: 70px;
    height: 15px;
    text-align: center;
    color: grey;
}

.icon4 {
    color: transparent;
    background: url(./user.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.money {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 28/ span 5;
    grid-column: 2/ span 2;
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 0.9em;
}

.money input {
    border: 2px solid white;
    width: 70px;
    height: 15px;
    text-align: center;
    color: grey;
}

.icon5 {
    color: transparent;
    background: url(./money-bag.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.travel {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 28/ span 5;
    grid-column: 4/ span 2;
    margin-left: 20px;
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 0.9em;
}

.travel input {
    border: 2px solid white;
    color: grey;
}

.icon6 {
    color: transparent;
    background: url(./plane.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.food {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 28/ span 5;
    grid-column: 6/ span 2;
    margin-left: 20px;
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 0.9em;
}

.travel input {
    border: 2px solid white;
    color: grey;
}

.icon7 {
    color: transparent;
    background: url(./fast-food.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.submit {
    @include navbtn;
    border-radius: 20px;
    grid-row: 35/ span 5;
    grid-column: 2/ span 1;
}

// .img {
//     background: url(./travel.png);
//     background-size: cover;
//     background-repeat: no-repeat;
//     grid-row: 11/ span 35;
//     grid-column: 10/ span 3;
//     margin-left: 20px;
// }

.menu1 {
    grid-row: 22/ span 10;
    grid-column: 9/ span 2;
    margin-left: 100px;
}

.menu1 select {
    border-radius: 20px;
    border: 2px solid $secondary-color;
    padding: 10px;
    font-family: $primary-font;
}

.menu1 select option {
    border-radius: 20px;
    border: 2px solid $secondary-color;
    padding: 10px;
}

.menu2 {
    grid-row: 22/ span 10;
    grid-column: 11/ span 2;
    margin-left: 100px;
}

.menu2 select {
    border-radius: 20px;
    border: 2px solid $secondary-color;
    padding: 10px;
    font-family: $primary-font;
}

.menu2 select option {
    border-radius: 20px;
    border: 2px solid $secondary-color;
    padding: 10px;
}

.recc {
    grid-row: 43/ span 2;
    grid-column: 2/ span 2;
    font-family: $primary-font;
    font-weight: 1000;
    font-size: 1.5em;
    text-decoration: underline;
}

.card1 {
    background-color: red;
    grid-column: 2/ span 2;
    grid-row: 51/ span 28;
}

.tra {
    grid-row: 84/ span 2;
    grid-column: 2/ span 2;
    font-family: $primary-font;
    font-weight: 1000;
    font-size: 1.5em;
    text-decoration: underline;
}

.card2 {
    background-color: red;
    grid-column: 2/ span 2;
    grid-row: 91/ span 28;
}

.sta {
    grid-row: 124/ span 2;
    grid-column: 2/ span 2;
    font-family: $primary-font;
    font-weight: 1000;
    font-size: 1.5em;
    text-decoration: underline;
}

.card3 {
    background-color: red;
    grid-column: 2/ span 2;
    grid-row: 131/ span 28;
}

.sigh {
    grid-row: 164/ span 2;
    grid-column: 2/ span 2;
    font-family: $primary-font;
    font-weight: 1000;
    font-size: 1.5em;
    text-decoration: underline;
}

.card4 {
    background-color: red;
    grid-column: 2/ span 2;
    grid-row: 171/ span 28;
}

.preftrav {
    grid-row: 22/ span 10;
    grid-column: 9/ span 1;
    margin-top: 5px;
    font-family: $primary-font;
}

.prefhot {
    grid-row: 22/ span 10;
    grid-column: 11/ span 1;
    margin-top: 5px;
    margin-left: 10px;
    font-family: $primary-font;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.container {
    margin-top: 100px;
    display: flex;
    overflow-x: scroll;
    justify-content: space-around;

}

.flight_list {
    display: flex;


}

.flight_items {
    border: 2px solid transparent;
    border-radius: 20px;
    // padding-left: 70px;
    // padding-right: 70px;
    height: 220px;
    width: 252px;
    background: url(./plane.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.flight_pcont {
    margin-top: 126px;
}

.flight_items p {
    font-family: $primary-font;
    background-color: antiquewhite;
    padding-left: 10px;
}

.btn {
    cursor: pointer;
    @include navbtn;
    padding-bottom: 10px;
}

.flex {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
}

.prize {
    border: 2px solid $secondary-color;
    justify-self: center;
    align-self: center;
    margin-left: -10px;
}

.hotel_list {
    display: flex;
}

.hotel_items {
    border: 2px solid transparent;
    border-radius: 20px;
    height: 220px;
    width: 252px;
    background: url(./plane.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.hotel_pcont {
    margin-top: 20px;
}

.hotel_items p {
    font-family: $primary-font;
    background-color: antiquewhite;
    padding-left: 10px;
}

.train_list {
    display: flex;
}

.train_items {
    border: 2px solid transparent;
    border-radius: 20px;
    height: 220px;
    width: 252px;
    background: url(./plane.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.train_pcont {
    margin-top: 20px;
}

.train_items p {
    font-family: $primary-font;
    background-color: antiquewhite;
    padding-left: 10px;
}

.train {
    margin-top: 128px;
}

.hotel {
    margin-top: 128px;
}

.free {
    height: 50vh;
}

.free h1 {
    font-family: $primary-font;
}