@import '/styles/abstract/variable';
@import '/styles/abstract/mixin';

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 100px;
    display: flex;
    overflow-x: scroll;
    justify-content: space-around;
}

.flight_list {
    display: flex;
}

.flight_items {
    border: 2px solid $secondary-color;
}